<div class="page-header">
    <h1 class="title">Change Password</h1>
    <ol class="breadcrumb">
        <li>
            <a ng-href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a ng-href="/profilesettings">Profile Settings</a>
        </li>
        <li class="active">Change Password</li>
    </ol>
    <div class="right">
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-light" ng-href="/profilesettings">
                <i class="fa fa-cogs"></i>
            </a>
        </div>
    </div>
</div>

<div class="container-padding">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-title">
                    Change Password
                </div>
                <div class="panel-body" style="display: block;">
                    <form name="changePasswordForm" class="form-horizontal" novalidate angular-validator angular-validator-submit="changeOldPassword()">
                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputOldPassword">Old Password</label>
                            <div class="col-sm-10">
                                <input id="inputOldPassword"
                                       name="inputOldPassword"
                                       class="form-control"
                                       type="password"
                                       placeholder="Old Password"
                                       ng-model="user.OldPassword"
                                       validate-on="dirty"
                                       required
                                       required-message="'Old Password is required'">
                            </div>
                        </div>
                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputNewPassword">New Password</label>
                            <div class="col-sm-10">
                                <input id="inputNewPassword"
                                       name="inputNewPassword"
                                       class="form-control"
                                       type="password"
                                       placeholder="New Password"
                                       ng-model="user.NewPassword"
                                       validate-on="dirty"
                                       ng-pattern="/((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[~`!@#$%^&*]).{8,20})/"
                                       invalid-message="'Password must be: <br> 1. At least 8 characters <br> 2. Must contain at least one digit from 0-9 <br> 3. Must contain at least one lowercase character <br> 4. Must contain at least one uppercase character <br> 5. Must contain at least one special symbol in the list ~`!@#$%^&*'" 
                                       required 
                                       required-message="'New Password is required'">
                            </div>
                        </div>
                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputConfirmNewPassword">Confirm New Password</label>
                            <div class="col-sm-10">
                                <input id="inputConfirmNewPassword"
                                       name="inputConfirmNewPassword"
                                       class="form-control"
                                       type="password"
                                       placeholder="Confirm New Password"
                                       ng-model="user.ConfirmNewPassword"
                                       validator = "user.NewPassword === user.ConfirmNewPassword"
                                       validate-on="dirty"
                                       invalid-message="'Passwords do not match!'"
                                       required
                                       required-message="'Confirmation Password is required'">
                            </div>
                        </div>
                        <button class="btn btn-primary btn-sm" type="submit">
                            <i class="fa fa-save"></i>
                            Save Changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>