<div class="page-header">
    <h1 class="title">Profile Settings</h1>
    <ol class="breadcrumb">
        <li>
            <a ng-href="/dashboard">Dashboard</a>
        </li>
        <li class="active">Profile Settings</li>
    </ol>
    <div class="right">
        <a class="btn btn-light" onclick="document.getElementById('submitProfile').click()">
            <i class="fa fa-save"></i>
        </a>
        <a class="btn btn-light" ng-href="/dashboard">
            <i class="fa fa-close"></i>
        </a>
    </div>
</div>
<div class="container-padding">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-title">
                    Profile
                </div>
                <div class="panel-body" style="display: block;">
                    <form name="profileSettingsForm" class="form-horizontal" novalidate angular-validator angular-validator-submit="updateProfile()">
                      <div class="clearfix form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputFullname">Fullname (From Active Directory)</label>
                            <div class="col-sm-10">
                                <input id="inputFullname"
                                       name="inputFullname"
                                       class="form-control"
                                       type="text"
                                       placeholder="Fullname"
                                       ng-model="user.Fullname",
                                       ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputUsername">Username</label>
                            <div class="col-sm-10">
                                <input id="inputUsername"
                                       name="inputUsername"
                                       class="form-control"
                                       type="text"
                                       placeholder="Username"
                                       ng-model="user.Username"
                                       validate-on="dirty"
                                       required
                                       required-message="'Username is required'">
                            </div>
                        </div>
                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputNickname">Nickname</label>
                            <div class="col-sm-10">
                                <input id="inputNickname"
                                       name="inputNickname"
                                       class="form-control"
                                       type="text"
                                       placeholder="Nickname"
                                       ng-model="user.Nickname"
                                       validate-on="dirty"
                                       required
                                       required-message="'Nickname is required'">
                            </div>
                        </div>
                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputTitle">Title (From Active Directory)</label>
                            <div class="col-sm-10">
                                <input id="inputTitle"
                                       name="inputTitle"
                                       class="form-control"
                                       type="text"
                                       placeholder="Title"
                                       ng-model="user.Title" ,
                                       ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputChangePassword">Password</label>
                            <div class="col-sm-10">
                                <a class="btn btn-success btn-sm" ng-href="/changepassword">Change Password</a>
                            </div>
                        </div>
                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputEmail">Email</label>
                            <div class="col-sm-10">
                                <input id="inputEmail"
                                       name="inputEmail"
                                       class="form-control"
                                       type="email"
                                       placeholder="E-mail"
                                       ng-model="user.Email"
                                       validate-on="dirty"
                                       ng-pattern="/^[A-Za-z0-9._%+-]+@pasar.com.ph$/"
                                       invalid-message="'You must enter a valid company email of the form xxxxx@pasar.com.ph'"
                                       required
                                       required-message="'Email is required'">
                            </div>
                        </div>
                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputProfileQuote">Profile Quote</label>
                            <div class="col-sm-10">
                                <input id="inputProfileQuote"
                                       name="inputProfileQuote"
                                       class="form-control"
                                       type="text"
                                       placeholder="Profile Quote"
                                       ng-model="user.ProfileQuote">
                            </div>
                        </div>

                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputAvatarPicPath">Avatar Picture</label>
                            <div class="col-sm-10" flow-name="avatarFlow.flow" flow-init="{singleFile: true, target: '/api/files/uploads/profile'}"
                                 flow-files-submitted="$flow.upload()"
                                 flow-file-success="avatarpicUploaded( $file, $message, $flow )">

                                <div class="thumbnail" ng-show="!$flow.files.length">
                                    <img ng-src={{avatarPath}}>
                                </div>
                                <div class="thumbnail ng-hide" ng-show="$flow.files.length">
                                    <img flow-img="$flow.files[0]">
                                </div>
                                <div>
                                    <span class="btn btn-default btn-sm" flow-btn="" ng-show="!$flow.files.length">
                                        Select image
                                        <input type="file" style="visibility: hidden; position: absolute;">
                                    </span>
                                    <span class="btn btn-info btn-sm ng-hide" flow-btn="" ng-show="$flow.files.length">
                                        Change
                                        <input type="file" style="visibility: hidden; position: absolute;">
                                    </span>
                                    <span class="btn btn-danger btn-sm ng-hide" ng-click="$flow.cancel()" ng-show="$flow.files.length"> Remove </span>
                                </div>
                                <p> Only PNG,GIF,JPG,JEPG files allowed. </p>
                            </div>
                        </div>

                        <div class="form-group" show-errors='{ showSuccess: true, skipFormGroupCheck: true }'>
                            <label class="col-sm-2 control-label form-label" for="inputAvatarPicPath">Profile Picture</label>
                            <div class="col-sm-10 ng-scope" flow-name="profileFlow.flow"  flow-init="{singleFile: true, target: '/api/files/uploads/profile'}"
                                 flow-files-submitted="$flow.upload()"
                                 flow-file-success="profilepicUploaded( $file, $message, $flow )">

                                <div class="thumbnail" ng-show="!$flow.files.length">
                                    <img ng-src={{profilePicPath}}>
                                </div>
                                <div class="thumbnail ng-hide" ng-show="$flow.files.length">
                                    <img flow-img="$flow.files[0]">
                                </div>
                                <div>
                                    <span class="btn btn-default btn-sm" flow-btn="" ng-show="!$flow.files.length">
                                        Select image
                                        <input type="file" style="visibility: hidden; position: absolute;">
                                    </span>
                                    <span class="btn btn-info btn-sm ng-hide" flow-btn="" ng-show="$flow.files.length">
                                        Change
                                        <input type="file" style="visibility: hidden; position: absolute;">
                                    </span>
                                    <span class="btn btn-danger btn-sm ng-hide" ng-click="$flow.cancel()" ng-show="$flow.files.length"> Remove </span>
                                </div>
                                <p> Only PNG,GIF,JPG,JEPG files allowed. </p>
                            </div>
                        </div>
                        <button id="submitProfile" ng-hide="true" class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
